.chatbot-toggle-container {
    position: fixed;
    right: 20px;
    bottom: 20px;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    transition: opacity 0.3s ease, filter 0.3s ease, transform 0.3s ease;
}

.chatbot-toggle-button,
.calculator-button {
    background-color: #30C3C0;
    color: white;
    border: none;
    border-radius: 20px;
    padding: 10px 15px;
    cursor: pointer;
    display: flex;
    align-items: center;
    transition: background-color 0.3s, opacity 0.3s ease, filter 0.3s ease, transform 0.3s ease;
    margin-bottom: 10px;
    width: max-content;
}

.chatbot-toggle-button svg,
.calculator-button svg {
    margin-right: 5px;
}

.chatbot-toggle-button:hover,
.calculator-button:hover {
    background-color: #022636;
}

.chatbot-close-button {
    position: absolute;
    right: 10px;
    top: -9px;
    background-color: #022636;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    transition: background-color 0.3s;
}

.chatbot-close-button:hover {
    background-color: #30C3C0;
}

.popup-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    max-width: 400px;
    height: 80%;
    max-height: 600px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    z-index: 1001;
    display: flex;
    flex-direction: column;
}

.popup-header {
    background-color: #1CAEF5;
    color: white;
    padding: 15px;
    text-align: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.popup-iframe {
    width: 100%;
    height: calc(100% - 50px);
    border: none;
}

.popup-close-button {
    background-color: transparent;
    color: white;
    border: none;
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
}

@media (max-width: 600px) {
    .chatbot-toggle-container {
        right: 10px;
        bottom: 10px;
        transition: opacity 0.3s ease, filter 0.3s ease, transform 0.3s ease;
    }

    .chatbot-toggle-button,
    .calculator-button {
        padding: 8px 12px;
        font-size: 0.9em;
    }

    .popup-container {
        width: 95%;
        height: 90%;
    }

    .chatbot-toggle-container.hidden {
        opacity: 0;
        filter: blur(5px);
        transform: translateY(20px);
        pointer-events: none;
    }

    .chatbot-toggle-container.visible {
        opacity: 1;
        filter: blur(0);
        transform: translateY(0);
        pointer-events: auto;
    }
    .chatbot-close-button{
        top: -100px;
    }
} 